

	<div class="container-fluid">
		<div class="jumbotron text-center">
			<h1>Welcome to My Mongo Scraper!</h1>
			<p>Now scraping from...</p>
			<h3>The NY Times</h4>
			<p><a class="btn btn-primary btn-lg" href="/scrape" role="button" id="scrapeButton">Scrape it</a></p>
		</div>
<!-- 		<div class="row">
			<div></div>
			
		</div> -->
		<div id="articlesDiv" class="text-centered">	
		</div>
	</div>

<!-- <script type="text/javascript" src="./app.js"></script> -->
